/*Basic value*/

@font-face {
    font-family: 'FontPixel';
    src: url('./Font/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{

    font-size: 24px;
    font-family: 'FontPixel', sans-serif;
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgb(136, 27, 238);
}

input, button{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
    box-sizing: border-box;
}

/*Btn*/


button{
    background-color: #ffffff;
    padding: 1rem;
    border-style: solid;
    border-radius: 1rem;
}

input[type="color"] {
    width: 100%;
    padding: 1rem;
    height: 4rem;
    border: 0px solid;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.speciale-btn {
    border: 0px solid #000000;
    background-color: #ffffff00;
    /*background-color: #e8f0fe;
    color: #0078d4;
    cursor: pointer;
    */
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
}


/*text box for selection*/

#add-container{
    display:flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

#coloriselezionare{
    display:flex;
    gap: 2rem;
    margin-bottom: 1rem;
}


#task-input{
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
}

/*view list btn*/

#view-toogle-container{
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: solid 4px rgb(136, 27, 238);
}

.toggle-btn{
    background-color: rgb(255, 255, 255);
    width: 50%;
}

/*li basic value*/

li{
    display: block;
    width: 100%;
    gap: 10px;
}

/* card-view */

.card-view{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 3rem;
}

.card-view li{
    height: 3rem;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/* list-view */

.list-view{
    display: flex;             
    flex-wrap: wrap;            
    gap: 1rem;                   
    padding: 1rem 2rem;         
    justify-content: center;
    margin-bottom: 3rem;
}

.list-view li{           
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.8rem;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Elimination total btn */

#eliminaquadrato{
    display: flex;                
    justify-content: center;      
    align-items: center;          
    position: fixed;              
    bottom: 0;                    
    left: 0; 
    width: 100%;                  
    height: 80px;                 
    background-color: #000000;    
    color: rgb(233, 48, 48);                
    font-size: 1.1rem;
    border-radius: 1rem 1rem 0 0;           
    z-index: 1000;    
}

/*Btn value*/

button:hover{
    cursor:pointer;
}


.toggle-btn:active{
    background-color: rgb(205, 0, 38);
    color: white;
}

#add-btn:active{
    background-color: rgb(205, 0, 38);
    color: white;
}

/*Media query*/

@media only screen and (min-width:600px){
.list-view li {
    width: calc(40% - 0.5rem); 

  }


    
}




@media only screen and (min-width:780px){
.list-view li {
    width: calc(25% - 0.5rem); 
  }
}
